body {
	margin:0;
}

#hero-style {
	margin:0px;
	background: url(../assets/background.gif);
  height:100vh;
	color: #fff !important;
}

#hero-style img {
    max-width: 400px;
    float: right;
}

#hero-bio {
    max-width: 500px;
    line-height: 1.7;
    font-family: Robo;
    font-weight: 300;
    font-size: 20px;
}

#comics-row p {
  height:100px;
}

div#hero-image-section {
    padding-right: 50px;
}

div#hero-bio-section {
    padding-left: 50px;
}

#hero-name {
    margin-bottom: 30px;
}

	.row {
	margin:0;
}

#nav {
    display: block;
    margin-bottom: 200px;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}

#comics-row {
  margin-top:50px;
}

span.animate-if.ng-scope {
    position: relative;
    top: 65px;
    left: 13px;
    color: red;
    font-family: Robo;
    font-weight: bold;
}

#comics-row h3 {
  font-size:16px;
  font-family: Robo;
  font-weight: bold;
  height: 30px;
}

#comics-row li {
  margin-bottom: 50px;
}

#comics-headline {
  margin-top:50px;
  margin-bottom: 50px;
  font-family: Robo;
  font-weight:bold;
}

#comics-row img:hover {
    opacity: .5;
}

@media only screen and (max-width:1000px) { 
  #hero-style img {
    max-width: 200px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right:auto;
  }
  div#hero-image-section {
    padding-right: 0px;
    text-align: center;
  }
  p {
    margin:auto;
  }
  #hero-name {
    text-align: center;
  }
  #hero-style {
   padding:40px;
   height:100%;
  }
  #nav {
    display: none;
}

}

/*Search Bar Styles*/

.inputbox {
  height: 50px;
  width: 200px;
  position: absolute;
  top: 60px;
  right: -50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inputbox input {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  font-size: 16px;
  padding: 16.5px 0;
  border: 0;
  background: none;
  width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100%;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0s, 0.4s, 0s;
          transition-delay: 0s, 0.4s, 0s;
  box-shadow: 0 0 0 1px currentColor;
  color: inherit;
  cursor: pointer;
  padding: 16.5px 0;
  padding-right: 50px;
  font-weight: lighter;
  font-family: 'Roboto';
}
.inputbox input:focus, .inputbox input:valid {
  width: 100%;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
          transition-delay: 0.4s, 0s, 0.4s;
  outline: 0;
  border-radius: 0;
  cursor: text;
  padding-left: 16.5px;
}
.inputbox input:focus + .del, .inputbox input:valid + .del {
  pointer-events: all;
  left: calc(100% - 25px);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.inputbox input:focus + .del:focus, .inputbox input:valid + .del:focus {
  box-shadow: 0 0 0 1px currentColor;
  height: 37.5px;
  width: 37.5px;
}
.inputbox input:focus + .del:before, .inputbox input:valid + .del:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.inputbox input:focus + .del:after, .inputbox input:valid + .del:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.inputbox .del {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  padding: 0;
  background: none;
  border-radius: 100%;
  border: 0;
  pointer-events: none;
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: inherit;
  cursor: pointer;
}
.inputbox .del:focus {
  outline: none;
}
.inputbox .del:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  width: 1px;
  height: 37.5px;
  -webkit-transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
          transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.inputbox .del:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  width: 1px;
  height: 37.5px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

/*Invalid search styles*/
.animate-if {

  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}